@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

blockquote[xml|lang]{
	font-style: italic;
}

/* Begin letter styling */
[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

p[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}
/* End letter styling */

/* Begin poetry styling */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}

p span.i7{
	padding-left: 8em;
	text-indent: -1em;
}

p span.i13{
	padding-left: 14em;
	text-indent: -1em;
}

span.elision{
	margin: .5em;
	margin-left: 3em;
}
/* End poetry styling */
